<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Kelas Virtual</title>

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <script src="/js/jquery-3.3.1.slim.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/RTCMultiConnection.js"></script>

<style type="text/css">
body {
  background-image: url("/img/bg-4.jpg");
}
</style>
<body>
<header>
        
</header>
<div class="container-fluid">
    <div class="col-lg-12" style="padding: 20px 10px;">
        <h1 class="text-center">Virtual Classroom</h1>
    </div>
    <div class="col-md-12">
        <div style="width:70%;" class="mx-auto">
        <div class="card bg-light mb-3">
            <h5 class="card-header">Gabung Kelas</h5>
            <div class="card-body">
                <form action="/kelas" method="post">
                <input type="text" class="form-control" name="open" value="false" hidden>
                <input type="text" class="form-control" name="PRI" id='PRI' hidden>
                <input type="text" class="form-control" name="idowner" value="false" id='idowner' hidden>
                <input type="text" class="form-control"  placeholder="Nama Ruangan" name="sessionid" id="session-id" hidden>
                    <div class="form-group">
                        <label>Nama</label>
                        <input type="text" class="form-control" placeholder="..." name="nama" required>
                    </div>
                    <button type="submit" class="btn btn-primary" id="btn-submit" >Gabung</button>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>
    <script src="/js/hBuatMasukKelas.js"></script>
</body>
</head>